@import "tailwindcss";

/* @tailwind base;
@tailwind utilities;
@tailwind utilities; */

@layer base {
  h1 {
    @apply text-white text-5xl font-extrabold uppercase;
  }
}

@layer components {
  .main-header {
    @apply bg-purple text-white py-2 px-4;
  }
}
@layer utilities {
  .animate-rotate-once {
    transition: transform 0.9s ease;
    transform-style: preserve-3d;
    will-change: transform;
  }

  .group:hover .animate-rotate-once {
    transform: rotateY(360deg);
  }

  /* Create triangle cutout on the left */
  .clip-left {
    /* clip-path: polygon(0 0, 50% 50%, 0 100%); */
    clip-path: polygon(0 50%, 100% 0, 0 0);
    /* clip-path: polygon(0, 50%, 100%, 50%, 0, 100%); */
  }
  .clip-left-two {
    clip-path: polygon(0 50%, 100% 100%, 0 100%);
  }

  /* Create triangle cutout on the right */
  .clip-right {
    clip-path: polygon(100% 0, 0% 50%, 100% 100%);
  }
  .animate-slider {
    position: absolute;
    animation: slider 2s ease-in-out infinite alternate;
  }
}

@keyframes slider {
  0% {
    background-color: rgb(91, 166, 0);
    height: 14px;
    width: 10px;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: rgb(91, 166, 0);
    height: 14px;
    width: 10px;
    left: 110px;
    top: 0px;
  }
}

@theme {
  /* light colored texts */
  --color-primary: #63666b;
  --color-button: #5aad00;
  --color-green: rgb(91, 166, 0);
  --color-purple: #061539;
  --color-background: #c0c0c0;
  --color-image: rgb(85, 92, 99);

  --text-tiny: 14px;
  --text-tiny--line-height: 24px;
  /* --text-tiny--letter-spacing: 0.125rem; */
  --text-tiny--font-weight: 200;
  /* --text-tiny--font-family: "Inter", sans-serif; */

  /* bold texts */
  --text-tiny-bold: 15px;
  --text-tiny-bold--line-height: 24px;
  --text-tiny-bold--font-weight: 900;
}
